{% extends 'base.html' %}

{% block body %}


  <header>
     <h1 class="title garamond-font">
      <!-- <ion-icon name="mail"></ion-icon> -->
      <ion-icon name="chatbubble-ellipses"></ion-icon>
      <i>Nobhub</i>
    </h1>
  </header>
  <main>
    <img src="./static/images/illustration-mockups.svg" alt="illustration of nobub">

    <div class="right-side">
      <h2 class="title garamond-font"><i>Chat with the rich and famous</i></h2>
      <p>
        NobHub is an exclusive, platform designed for the ultra-wealthy and influential.
        It's a curated space where the world's elite - billionaires, A-list celebrities, and global power players connect, collaborate, and cultivate relationships.
      </p>
      <a href="/signup"><button class="button1">Register</button></a>
    </div>
  </main>

  <footer>
    <div class="attribution">
      <p class="attribution garamond-font"><i>Sole proprietor <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Mr. Nob.</a></i></p>
      <small>Coded by <a href="#">DannyStark</a></small>
    
    </div>
    
     <div class="svgs">
      <img width="25" height="25" src="https://img.icons8.com/ios/50/facebook-new.png" alt="facebook-new"/>
      <img width="25" height="25" src="https://img.icons8.com/ios/50/instagram-new--v1.png" alt="instagram-new--v1"/>
      <!-- <ion-icon name="logo-github"></ion-icon> -->
       <img width="25" height="25" src="https://img.icons8.com/ios/50/twitterx--v1.png" alt="twitterx--v1"/>

      <!-- <img width="25" height="25" src="https://img.icons8.com/ios/50/FFFFFF/facebook-new.png" alt="facebook"/>
      <img width="25" height="25" src="https://img.icons8.com/ios/50/FFFFFF/instagram-new--v1.png" alt="instagram"/>
      <img width="25" height="25" src="https://img.icons8.com/ios/50/FFFFFF/twitterx--v1.png" alt="twitterx"/> -->
      </div>
  </footer>
{% endblock %}