{% extends 'base.html' %}
{% block title%}NobHUB Reset Password{% endblock %}
{% block body %}

<main class="forms-main ">
    <div class="forms light-theme">
        <h1 class="title garamond-font"> 
            <ion-icon name="pencil"></ion-icon>
            <i>Reset Password</i>
        </h1> 
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="error-message red-clr" >
                {{messages[0] }}
            </div>
            {% endif %}
        {% endwith %}
    
        <form action="" method="POST" class="form">
            {{ reset_form.hidden_tag() }}
            
            {{reset_form.password0.label(for="username", class="")}} 
                {{ reset_form.password0(class="forms-input", id="username", placeholder="Password", class="forms-input", oninvalid="this.setCustomValidity('Password is required')", oninput="this.setCustomValidity('')")}}
               
            {{ reset_form.hidden_tag() }}
                {{reset_form.password1.label(for="username", class="")}} 
                    {{ reset_form.password1(class="forms-input", id="username", placeholder="Confirm Password", class="forms-input", oninvalid="this.setCustomValidity('Password is required')", oninput="this.setCustomValidity('')")}}
            
            
            {{ reset_form.reset(class="button1 forms-button", id="login-btn")}}
              

        </form>
        
    </div>
    

</main>

{% endblock %}
