{% extends 'base.html' %}
{% block title%}Nobhub || Settings{% endblock %}
{% block body %}
<body class="middle-light-theme">
  <main class="forms-main middle-light-theme">
        
    
        <div class="forms light-theme">
            <h1 class="title garamond-font"> 
                 <ion-icon name="settings-outline"></ion-icon>
                <i>Settings</i>
            </h1> 
            
              <div class="side-by-side forms-input">
                <p class="" >
                  Theme
                </p>
                  <ion-icon name="radio-button-off-outline" class="theme light-theme"></ion-icon>
              </div>
            
            </div>
    </div>
    
  </main>

  

{% endblock %}
